In [48]:
import pandas as pd
df=pd.read_excel('score.xlsx', index_col='지원번호')
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80         NaN
5번    강백호  북산고  188   15   20   10  35  10         NaN
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190  100   85   90  95  95          C#

In [49]:
df.describe()

                키          국어          영어          수학         과학         사회
count    8.000000    8.000000    8.000000    8.000000   8.000000   8.000000
mean   188.000000   62.500000   65.625000   66.250000  70.000000  60.625000
std      9.985704   29.519969   26.917533   30.325614  23.754699  32.120032
min    168.000000   15.000000   20.000000   10.000000  35.000000  10.000000
25%    186.250000   40.000000   53.750000   48.750000  51.250000  32.500000
50%    188.000000   67.500000   70.000000   70.000000  77.500000  77.500000
75%    191.750000   82.500000   85.000000   91.250000  87.500000  81.250000
max    202.000000  100.000000  100.000000  100.000000  95.000000  95.000000

In [50]:
df.head()

       이름   학교    키  국어  영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197  90  85  100  95  85      Python
2번    정대만  북산고  184  40  35   50  55  25        Java
3번    송태섭  북산고  168  80  75   70  80  75  Javascript
4번    서태웅  북산고  187  40  60   70  75  80         NaN
5번    강백호  북산고  188  15  20   10  35  10         NaN

In [51]:
df.tail()

       이름   학교    키   국어   영어  수학  과학  사회    SW특기
지원번호
4번    서태웅  북산고  187   40   60  70  75  80     NaN
5번    강백호  북산고  188   15   20  10  35  10     NaN
6번    변덕규  능남고  202   80  100  95  85  80       C
7번    황태산  능남고  188   55   65  45  40  35  PYTHON
8번    윤대협  능남고  190  100   85  90  95  95      C#

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, 1번 to 8번
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   이름      8 non-null      object
 1   학교      8 non-null      object
 2   키       8 non-null      int64
 3   국어      8 non-null      int64
 4   영어      8 non-null      int64
 5   수학      8 non-null      int64
 6   과학      8 non-null      int64
 7   사회      8 non-null      int64
 8   SW특기    6 non-null      object
dtypes: int64(6), object(3)
memory usage: 640.0+ bytes

In [53]:
df.mean()

C:\Users\GS\AppData\Local\Temp\ipykernel_53156\3698961737.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean()

키     188.000
국어     62.500
영어     65.625
수학     66.250
과학     70.000
사회     60.625
dtype: float64

In [54]:
df.values[:,1]

array(['북산고', '북산고', '북산고', '북산고', '북산고', '능남고', '능남고', '능남고'],
      dtype=object)

In [55]:
df.index[3]

'4번'

In [56]:
df.columns[:-2]

Index(['이름', '학교', '키', '국어', '영어', '수학', '과학'], dtype='object')

In [57]:
df.shape

(8, 9)

In [58]:
df['키'].describe()

count      8.000000
mean     188.000000
std        9.985704
min      168.000000
25%      186.250000
50%      188.000000
75%      191.750000
max      202.000000
Name: 키, dtype: float64

In [59]:
df['키'].head()

지원번호
1번    197
2번    184
3번    168
4번    187
5번    188
Name: 키, dtype: int64

In [60]:
df['키'].tail()

지원번호
4번    187
5번    188
6번    202
7번    188
8번    190
Name: 키, dtype: int64

In [61]:
df['키'].values

array([197, 184, 168, 187, 188, 202, 188, 190], dtype=int64)

In [70]:
df['키'].mean(1)

ValueError: No axis named 1 for object type Series

In [63]:
df['키'].max()

202

In [68]:
df['키'].min()

168

In [69]:
df['키'].nlargest(3)

지원번호
6번    202
1번    197
8번    190
Name: 키, dtype: int64

In [73]:
df['키'].sum()

1504

In [72]:
df['키'].mean()

188.0

In [71]:
df['키'].count()

8

In [77]:
df['학교'].unique()

array(['북산고', '능남고'], dtype=object)